# Core web app
streamlit

# Database
psycopg2-binary
sqlalchemy

# Data manipulation
pandas

# Visualization
matplotlib
seaborn
plotly

# Machine Learning
scikit-learn
statsmodels

# Utility
python-dotenv

# (Optional: for Heroku deployment)
gunicorn
